[Desktop Entry]
Name=Highlight plugin
Name[bg]=Приставка за открояване
Name[cs]=Modul pro zvýraznění
Name[de]=Hervorhebungs-Modul
Name[es]=Complemento de resalte
Name[et]=Esiletõstmise plugin
Name[fr]=Module externe de mise en évidence
Name[ga]=Breiseán aibhsithe
Name[gl]=Complemento de realzado
Name[hu]=Kiemelés bővítmény
Name[km]= 
Name[mr]=हायलाईट प्लगइन
Name[nds]=Syntaxmarkeren-Moduul
Name[nl]=Plugin voor accentueren
Name[pl]=Wtyczka podświetlenia
Name[pt]='Plugin' de realce
Name[pt_BR]=Plugin de realce
Name[sk]=Plugin zvýraznenia
Name[sv]=Markeringsinsticksprogram
Name[tr]=Vurgulama eklentisi
Name[uk]=Додаток підсвічування
Name[x-test]=xxHighlight pluginxx
X-KDE-ServiceTypes=KOffice/Text-EditingPlugin
Type=Service
X-KDE-Library=kotexthighlight
X-KoText-MinVersion=0
X-Flake-PluginVersion=0.1
X-KDE-PluginInfo-Author=Jonathan Schmidt-Dominé
X-KDE-PluginInfo-Email=devel@the-user.org
X-KDE-PluginInfo-Name=highlight
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://koffice.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

