[Desktop Entry]
Name=Highlight plugin
Name[da]=Fremhævningsplugin
Name[en_GB]=Highlight plugin
Name[es]=Complemento de resaltado
Name[et]=Esiletõstmise plugin
Name[fr]=Module de mise en lumière
Name[pt]='Plugin' de realce
Name[pt_BR]=Plugin de realce
Name[sv]=Markeringsinsticksprogram
Name[uk]=Додаток підсвічування
Name[x-test]=xxHighlight pluginxx
X-KDE-ServiceTypes=KOffice/Text-EditingPlugin
Type=Service
X-KDE-Library=kotexthighlight
X-KoText-MinVersion=0
X-Flake-PluginVersion=0.1
X-KDE-PluginInfo-Author=Jonathan Schmidt-Dominé
X-KDE-PluginInfo-Email=devel@the-user.org
X-KDE-PluginInfo-Name=highlight
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://koffice.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

